<div class="nav-buttons">
    <button (click)="onChangeTable(1)" [disabled]="!selectedPlayer || selectedPlayer.table === 1" class="btn btn-primary"><</button>
    <button (click)="onChangeTable(2)" [disabled]="!selectedPlayer || selectedPlayer.table === 2" class="btn btn-primary">></button>
</div>