<div class="modal fade in" [ngStyle]="{display: opened ? 'block': 'none'}" >
    <div class="modal-dialog" style="z-index:1070">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="onCloseClick()">×</button>
                <h4 class="modal-title" id="myModalLabel">{{name}}</h4>
            </div>
            <ng-content></ng-content>
        </div>
    </div>
    <div class="modal-backdrop fade in" (click)="onCloseClick()"  [ngStyle]="{display: opened ? 'block': 'none'}"></div>
</div>
