<div class="app">
    <div class="container">
        <div class="row">
            <div class="col-xs-5">
                <h2 class="text-center">Available players</h2>
            </div>
            <div class="col-xs-5 col-xs-offset-2">
                <h2 class="text-center">Players on field</h2>
            </div>
        </div>
        <hr />
        <app-players-table></app-players-table>
    </div>
</div>