<app-player-controls></app-player-controls>
<div class="players-table">
    <div class="col-5">
        <app-players [table]="1"></app-players>
    </div>
    <div class="col-2">
        <app-nav-buttons></app-nav-buttons>
    </div>
    <div class="col-5">
        <app-players [table]="2"></app-players>
    </div>
</div>