<div class="player-controls">
    <button (click)="togglePopupOpened(true)" class="btn btn-success">Add</button>
    <button [disabled]="!selectedPlayer" (click)="onDeletePlayer()" class="btn btn-danger">Delete</button>
</div>
<app-popup [opened]="popupIsOpened" [name]="'Add new player'" (onTogglePopup)="togglePopupOpened($event)">
    <form #playerForm="ngForm">
        <div class="modal-body">
            <div class="form-group">
                <label for="name">Player name:</label>
                <input type="text" class="form-control" name="name" id="name" [(ngModel)]="playerName" required
                       minlength="4" #name="ngModel"/>
                <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger" >
                    <div *ngIf="name.errors.required">
                        Name is required.
                    </div>
                    <div *ngIf="name.errors.minlength">
                        Name must be at least 4 characters long.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="position">Player position:</label>
                <select [(ngModel)]="selectedValue" class="form-control" id="position" name="selectbox">
                    <option *ngFor="let p of positions;" [ngValue]="p.position">
                        {{p.position}}
                    </option>
                </select>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="togglePopupOpened()">
                Close
            </button>
            <button type="submit" class="btn btn-primary" (click)="addNewPlayer(playerForm)" [disabled]="!playerForm.form.valid">
                Save changes
            </button>
        </div>
    </form>
</app-popup>