@import "styles/custom/variables";

.player {
  display: flex;
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid $background-color;
  border-bottom: 1px solid rgba(0, 149, 255, 0.11);

  &.selected {
    background: rgba(0, 181, 173, 0.12);
  }

  &:hover {
    background: rgba(0, 181, 173, 0.12);
  }

  &:last-of-type {
    margin-bottom: 0;
    border-bottom: none;
  }

  &__img-wrap {
    width: 40px;
    height: 40px;
    padding: 5px;
    border: 1px solid $grey;
    border-radius: 3px;
    margin-right: 15px;
    background: $background-color;
  }

  &__img {
    max-width: 100%;
  }

  &__content {
    align-self: center;
  }

  &__name {
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    color: $primary-color;
  }
}