<div class="player" (click)="onSelected()" [ngClass]="{selected: selectedPlayer?.id === player?.id}">
    <div class="player__img-wrap">
        <img class="player__img" src="/src/images/player.png" alt="player"/>
    </div>
    <div class="player__content">
        <h4 class="player__name">{{player.name}}</h4>
        <div class="player__position">{{player.position}}</div>
    </div>
</div>